<div class="panel-group" style="margin-top: 5ex;">
    <div class="panel panel-primary back">

        <div class="panel-heading">
            <h4>{{ theatre?.name | uppercase }} </h4>
        </div>

        <div class="panel-body">
            <ul class="list-unstyled">
                <div>
                    <span class="style"> Description: </span>
                    <span class="lisyt-group-item-text desc">{{theatre?.description}} </span>
                </div>
                <div class="list-group-item-text">
                    <span class="style">Address: </span> {{theatre?.address}}</div>
            </ul>

        </div>
        <button routerLink="new" class="btn btn-primary"> Add new play </button>
        <button routerLink="projection" class="btn btn-primary"> Add new projection </button>
        <a routerLink="reservation" class="right"> Quick reservation </a>
        <hr/>
        <p> 
            <app-play-list></app-play-list>
        </p>
    </div>
</div>