
<div class="panel-group" style="margin-top: 5ex;">
  <div class="panel panel-primary back">

    <div class="panel-heading">
      <h4>{{ cinema?.name | uppercase }} </h4>
    </div>

    <div class="panel-body">
      <ul class="list-unstyled">

        <div>
          <span class="style"> Description: </span>
          <span class="lisyt-group-item-text desc">{{cinema?.description}} </span>
        </div>
        <div class="list-group-item-text">
          <span class="style">Address: </span> {{cinema?.address}}
          <a class="mouse" (click)="showMap()">
            <i> Show map </i>
          </a>
        </div>


      </ul>


    </div>
    <div *ngIf="showmap">
      <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChooseLocation($event)">
        <agm-marker [latitude]="latitude" [longitude]="longitude">

        </agm-marker>
      </agm-map>
    </div>
    <button routerLink="new" class="btn btn-primary"> Add new movie </button>
    <button (click)="seeStat()" class="btn btn-primary"> View statistic </button>
    <div *ngIf="stat">
      
     

    </div>



    <div class="rightText">
      <p>
        <span class="style">Average rating for this cinema : {{ average() }} </span>
      </p>
      <button data-toggle="modal" data-target="#addRate">Evaluate</button>
    </div>

    <hr/>

    <div class="row">
      <div class="col-xs-12">
        <div class="panel with-nav-tabs panel-default">
          <div class="panel-heading">
            <ul class="nav nav-tabs" style="margin-top: 1em;">
              <li>
                <a (click)="openMovies()" class="mouse">Repertoar</a>
              </li>
              <li>
                <a (click)="openProjection()" class="mouse">Quick reservation</a>
              </li>
            </ul>
          </div>
          <div class="panel-body">
            <div class="tab-content">
              <span *ngIf="openM">
                <app-movie-list></app-movie-list>
              </span>
              <span *ngIf="openP">
                <app-movie-termin-list></app-movie-termin-list>
              </span>

            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


<!--MODALNI ZA IZMENU TERMINA-->
<div id="addRate" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form-horizontal" #addRate="ngForm" (ngSubmit)="evaluateCinema()">


          <!-- RATINGS -->
          <div class="form-group">
            <label for="ratings" class="col-sm-2 control-label"> Ratings: </label>
            <div class="col-sm-8">
              <input type="number" class="form-control " id="ratings" name="ratings" [(ngModel)]="ratings">
            </div>
          </div>

          <hr>

          <input type="submit" class="btn btn-primary" value="Vote" />


        </form>

      </div>
    </div>
  </div>