
<div class="row">
  <div class="col-xs-12">
    <a  routerLink = 'addCinema' ><button class="btn btn-primary"  > Add cinema </button></a>
    </div>
</div>

<hr>

<div class="row"> 
  <div class="col-xs-12" >
    <a class = "list-group-item clearfix" 
      *ngFor = "let cinema of cinemas; let i = index">
      <div class = "pull-left">
          <h2 class = "list-group-item-heading letter"><b>{{ cinema.name | uppercase }} </b></h2>
             <div *ngIf = "nodetailCinema">
                    <a class = "detail" (click)="onDetail()"  >Detaljnije</a>
            </div>
            <div *ngIf = "detailCinema">
                    <a class = "detail" (click)="offDetail()"  >Vrati</a>
            </div>
            <div *ngIf = "detailCinema" >
                   <!-- {{i}} {{cinema.id}}-->
                    <p class = "list-group-item-text"><i> {{ cinema.address }} </i></p>
                    <p class = "list-group-item-text desc"> {{ cinema.description }}</p>
                    <button class="btn btn-primary"  routerLink= "/auditorium/cinema/{{i}}/movie" > Open cinema </button>
                    <button class="btn btn-success"> Edit cinema </button>
                    <button class="btn btn-danger" > Delete cinema </button>
           </div> 
      </div>
      <span class="pull-right">
          <img 
          src="{{ cinema.poster }}" 
          alt="{{ cinema.name}}" 
          class="img-responsive" 
          style = "max-height : 120px">
      </span>
    </a> 
  </div>
</div>


