<div class="panel-group" style="margin-top: 5ex;">
  <div class="panel panel-primary back">

    <div class="panel-heading">
      <h4>{{ cinema?.name | uppercase }} </h4>
    </div>

    <div class="panel-body">
      <ul class="list-unstyled">

        <div>
          <span class="style"> Description: </span>
          <span class="lisyt-group-item-text desc">{{cinema?.description}} </span>
        </div>
        <div class="list-group-item-text">
          <span class="style">Address: </span> {{cinema?.address}}
          <a class="mouse" (click)="showMap()">
            <i> Show map </i>
          </a>
        </div>


      </ul>


    </div>
    <div *ngIf="showmap">
      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="15" (mapClick)="onChooseLocation($event)">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
    </div>
    <button *ngIf="cinema?.fanZone" routerLink="/fan-zones/{{cinema?.fanZone.id}}/zone" class="btn btn-primary">Visit fan zone</button>

    <button routerLink="new" class="btn btn-primary"> Add new movie </button>
    <br>
    <a (click)="annuallyStat()" class="mouse"> Annually statistics </a>
    <br>
    <a (click)="weeklyStat()" class="mouse"> Weekly statistics </a>
    <br>
    <a (click)="dailyStat()" class="mouse"> Daily statistics </a>
    <br>
    <a (click)="annuallyStat()" class="mouse"> Earnings </a>

    <!--GODISNJEM NIVOU -->
    <div *ngIf="year">
      <div class="col-md-8">

        <canvas baseChart [data]="lineChartData1" [labels]="lineChartLabels1" [options]="lineChartOptions" [chartType]="lineChartType1"
          (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>

      <div class="col-md-12 text-center" style="margin-top: 10px;height: 50%">
        <button (click)="randomizeType()" style="display: inline-block">Toggle</button>
      </div>
    </div>

    




    <!--NEDELJNOM NIVOU-->
    <div *ngIf="week">
      <div class="row">
        <div class="col-md-6">
          <div style="display: block;">
            <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
              [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="col-md-6" style="margin-bottom: 10px">
          <table class="table table-responsive table-condensed">
            <tr>
              <th *ngFor="let label of lineChartLabels">{{label}}</th>
            </tr>
            <tr *ngFor="let d of lineChartData">
              <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
            </tr>
          </table>

        </div>
      </div>
    </div>
    <!--DNEVNOM NIVOU-->
    <div *ngIf="day">
      <div class="col-md-8">
        <div style="display: block">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
            [chartType]="barChartType" (chartHover)="chartHovered2($event)" (chartClick)="chartClicked2($event)"></canvas>
        </div>
      </div>
    </div>





    <div class="rightText">
      <p>
        <span class="style">Average rating for this cinema : {{ cinema?.ratings }} </span>
      </p>
      <button data-toggle="modal" data-target="#addRate">Evaluate</button>
    </div>

    <hr/>

    <div class="row">
      <div class="col-xs-12">
        <div class="panel with-nav-tabs panel-default">
          <div class="panel-heading">
            <ul class="nav nav-tabs" style="margin-top: 1em;">
              <li>
                <a (click)="openMovies()" class="mouse">Repertoar</a>
              </li>
              <li>
                <a (click)="openProjection()" class="mouse">Quick reservation</a>
              </li>
            </ul>
          </div>
          <div class="panel-body">
            <div class="tab-content">
              <span *ngIf="openM">
                <app-movie-list></app-movie-list>
              </span>
              <span *ngIf="openP">
                <app-movie-termin-list></app-movie-termin-list>
              </span>

            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


<!--MODALNI ZA GLasanje-->
<div id="addRate" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form-horizontal" #addRate="ngForm" (ngSubmit)="rateCinema()">


          <!-- RATINGS -->
          <div class="form-group">
            <label for="ratings" class="col-sm-2 control-label"> Ratings: </label>
            <div class="col-sm-8">
              <input type="number" class="form-control " id="ratings" name="ratings" [(ngModel)]="ratings">
            </div>
          </div>

          <hr>

          <input type="submit" class="btn btn-primary" value="Vote" />


        </form>

      </div>
    </div>
  </div>