.letter {
    font-weight: bold;
   
}
.desc {
    border : 2px solid linen;
    margin : 15px;
    height: 30%;
}
h2 {
    color: black;
    font-size: 36px;
}
.detail {
    font-style: italic;
    cursor:pointer;
}
.back {
    background: #F0F0F0;
}
.style{
    font-weight: bold;
    font-size: 16px;
    margin : 3px;
}
.right {
    float: right;
}