.letter {
    font-weight: bold;
   
}
.desc {
    border : 2px solid linen;
    margin : 15px;
    height: 30%;
}
h2 {
    color: black;
    font-size: 36px;
}
.detail {
    font-style: italic;
    cursor:pointer;
}
.back {
    background: #F0F0F0;
}
.style{
    font-weight: bold;
    font-size: 16px;
    margin : 3px;
}
.right {
    float: right;
}
.left {
    float: left;
}

.mouse {
    cursor: pointer;
}
agm-map {
    height : 200px;
    widows:  50px;
   
}
.rightText {
    float: right;
    margin-right: 150px;
    margin-top: -80px;
    font-weight: bold;
    font-size: 14px;
}
.container {
    width: 480px;
    height: 420px;
    margin: 0 auto;
  }
  
  .chartdiv {
    width: 200px;
    height: 200px;
    float: left;
    border: 1px solid #eee;
    margin: 10px;
  }

  
