.addForm {
    width: 50%;
    align-items: center;
    align-self: center;
    padding-top: 10px;
  }

.description {
    height: 150px;
}
.letter {
    font-weight: bold;
   
}
.desc {
    border : 2px solid linen;
    margin : 5px;
}
h2 {
    color: black;
    font-size: 36px;
}
.detail {
    font-style: italic;
    cursor:pointer;
}
