<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Ticket App</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar" #navbarList>
      <ul class="nav navbar-nav navbar-right">
        <li> <button routerLink="/search" class="btn btn-primary navbar-btn"> <i class="glyphicon glyphicon-search"></i>Search </button></li>
        <li ><a routerLink="/register" class="mouse"><span class="glyphicon glyphicon-user link"></span> Register</a></li>
        <li ><a routerLink="/login" class="mouse"><span class="glyphicon glyphicon-log-in link"></span> Log in</a></li>
        <li ><a class="mouse"><span class="glyphicon glyphicon-log-out link"></span> Log out</a></li>
      </ul>
    </div>
  </div>
</nav>


<!-- U Formi, ngModel moze da radi samo sa inputima koji imaju name property postavljen! -->

<div class="col-xs-12 col-md-8">
  <div class="row">
    <div class="col-xs-6 col-md-4 col-lg-offset-4 button">
      <button class="btn btn-primary btn-xlarge"> POZORISTE </button>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-offset-1 button">
      <button class="btn btn-primary btn-xlarge"> BIOSKOP </button>
    </div>
  </div>
</div>

<!-- Modal -->
