<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink= "/" class="navbar-brand mouse" >Ticket App</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar" #navbarList>
      <ul class="nav navbar-nav navbar-right">
        <li> <button routerLink="/search" class="btn btn-primary navbar-btn"> <i class="glyphicon glyphicon-search"></i>Search </button></li>
        <li ><a routerLink="/register" class="mouse"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        <li ><a routerLink="/admin-panel" class="mouse"><span class="glyphicon glyphicon-user"></span> Admin panel</a></li>
        <li ><a routerLink="/login" class="mouse"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
        <li ><a class="mouse"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
      </ul>
    </div>
  </div>
</nav>



