<div>

  <div class="row">
    <div class="col-sm-3 button"  (click)  = selectTheatre()>
        <button class="btn btn-primary btn-xlarge letter" routerLink="/theatre" >
         THEATRE</button>
    </div>

    <div class="col-sm-3 button"  (click)  = selectCinema() >
        <button class="btn btn-primary btn-xlarge letter" routerLink="/cinema" >
        CINEMA</button>
    </div>
  </div>
  <!--app-list [header]="'Test'" [items]="dummyItems" [type]="type" (onElementClickEvent)="itemClicked($event)"></app-list-->
  <!--app-seatings [message]="'WADZAAAA AAAAAAAP'" [seatings]="null"></app-seatings-->
</div>
