.button {
  background-color: #CCCCCC;
  color: #FFFFFF;
  margin-top: 200px;
  margin-left : 320px;
  padding: 40px;
  border-radius: 30px;
  height: 60px;
  width: 300px;
}
.btn-xlarge {
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.col-centered {
  float: none;
  margin: 0 auto;
}

.letter {
  color : black;
}

