
<hr>

<form class="form-horizontal" #addForm="ngForm" (ngSubmit)="addTermin()">


  <!-- HALL -->
  <div class="form-group">
    <label for="hall" class="col-sm-2 control-label"> Select hall: </label>

    <div class="col-sm-7">
      <select class="form-control" [(ngModel)]="newHall" [ngModelOptions]="{standalone: true}">
        <option></option>
        <option *ngFor="let hall of halls" [hidden]="hasHall(hall.id)" [ngValue]="hall">{{hall.name}}  </option>
      </select>
    </div>

    <div class="col-sm-1">
      <a class="btn btn-primary" (click)="selectHall()">
        <i class="glyphicon glyphicon-add"></i>Add hall</a>
    </div>
  </div>
  <div class="row ">
    <div class="col-sm-4">
      &nbsp;
    </div>
    <div class="col-sm-8 bord">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let hall of selectedHalls; let i = index">
          {{hall.name}}
          <span class="pull-right">
            <span class="btn btn-xs btn-danger">
              <span class="glyphicon glyphicon-minus" (click)="removeHall(i)" aria-hidden="true"></span>
            </span>
          </span>
        </li>
      </ul>
    </div>
  </div>

  <!-- DATE -->
  <div class="form-group">
    <label for="date" class="col-sm-2 control-label"> Date: </label>
    <div class="col-sm-8">
      <input type="datetime-local" class="form-control " id="date" name="date" [(ngModel)]="date">
    </div>
  </div>


  <!-- PRICE -->
  <div class="form-group">
    <label for="price" class="col-sm-2 control-label"> Price: </label>
    <div class="col-sm-8">
      <input type="number" class="form-control " id="price" name="price" [(ngModel)]="price">
    </div>
  </div>

  <!-- DISCOUNT -->
  <div class="form-group">
    <label for="discount" class="col-sm-2 control-label"> Discount: </label>
    <div class="col-sm-10">
      <input type="checkbox" id="discount" name="discount" [(ngModel)]="discount">
    </div>
  </div>




  <input type="submit" class="btn btn-primary" value="Add termin" />
</form>
