.Buttons {
  alignment: center;
  align-items: center;
  align-content: center;
}

.InfoWrapper {
  width: 70%;
  alignment: center;
}

.RemoveFriends {
  background: linear-gradient(to bottom, red, darkred, red);
}

.AddFriends {
  background: linear-gradient(to bottom, lawngreen, green, lawngreen);
}

.List {
  width: 33.33%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
