<div class="row">

  <h1 align="center"> Welcome to your profile </h1>

  <br/>

  <div class="alert alert-danger" align="center" *ngIf="errormsg != null && errormsg != undefined && errormsg.length > 0">
    <strong>{{this.errormsg}}</strong>
  </div>

  <br/>

  <div class="row Buttons" align="center">
    <div class="col-sm-3">
      <button class="btn btn-warning" (click)="changeMode($event)"  [disabled]="mode === 'edit'">Update profile</button>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-primary" (click)="changeMode($event)"  [disabled]="mode === 'view'">View profile</button>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-primary" (click)="switchPWFormVisibility($event)"
              data-toggle="modal" data-target=".bs-example-modal-sm">Change password</button>
    </div>
  </div>

  <br/>

  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><strong>Change password</strong></h4>
        </div>

        <div class="modal-body">
          <form class="form">
              <div class="form-group">
                <label for="pw">New password: </label>
                <input type="password" class="form-control" name="pw" id="pw"
                       [(ngModel)]="pw"/>
              </div>

              <div class="form-group">
                <label for="repeat">Repeat password: </label>
                <input type="password" class="form-control" name="repeat" id="repeat"
                       [(ngModel)]="repeatpw"/>
              </div>
          </form>
        </div>

        <div class="modal-footer">
          <div class="form-group">
            <button class="btn btn-success" (click)="changePassword($event)" data-dismiss="modal">Save</button>
            <button class="btn btn-danger" (click)="switchPWFormVisibility($event)" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="InfoWrapper" *ngIf="mode === 'view'">
      <table class="table">
        <tr>
          <th> Personal Info </th>
        </tr>
        <tr>
          <td><label for="email">E-mail: </label></td>
          <td><label>{{user.email}}</label></td>
        </tr>
        <tr>
          <td><label for="name">First name: </label></td>
          <td><label>{{user.name}}</label></td>
        </tr>
        <tr>
          <td><label for="last">Last name: </label></td>
          <td><label>{{user.lastname}}</label></td>
        </tr>
        <tr>
          <td><label for="city">City: </label></td>
          <td><label>{{user.city}}</label></td>
        </tr>
        <tr>
          <td><label for="phone">Phone: </label></td>
          <td><label>{{user.phoneNo}}</label></td>
        </tr>
      </table>
    </div>

    <div class="InfoWrapper" *ngIf="mode === 'edit'">
      <form class="form" #updateForm = "ngForm">
        <table class="table">
          <tr>
            <th> Edit Personal Info </th>
          </tr>
          <tr>
            <td><label for="email">E-mail: </label></td>
            <td><input type="email" name="email" id="email"
                       [(ngModel)]="userEditInfo.email" value="{{user.email}}" required #email="ngModel"/></td>
          </tr>
          <tr>
            <td><label for="name">First name: </label></td>
            <td><input type="text" name="name" id="name"
                       [(ngModel)]="userEditInfo.name" value="{{user.name}}" required #name="ngModel"/></td>
          </tr>
          <tr>
            <td><label for="last">Last name: </label></td>
            <td><input type="text" name="last" id="last"
                       [(ngModel)]="userEditInfo.lastname" value="{{user.lastname}}" required #last="ngModel"/></td>
          </tr>
          <tr>
            <td><label for="city">City: </label></td>
            <td><input type="text" name="city" id="city"
                       [(ngModel)]="userEditInfo.city" value="{{user.city}}" required #city="ngModel"/></td>
          </tr>
          <tr>
            <td><label for="phone">Phone: </label></td>
            <td><input type="text" name="phone" id="phone"
                       [(ngModel)]="userEditInfo.phoneNo" value="{{user.phoneNo}}" required #phone="ngModel"/></td>
          </tr>
          <tr>
            <td colspan="2" align="center">
              <button class="btn btn-success"
                      (click)="updateInfo($event)" [disabled]="!updateForm.valid">
                Save changes
              </button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4" *ngIf="notFriends != null && notFriends != undefined && notFriends.length > 0">
      <app-search [criteriaKeys]="['name', 'lastname', ['name', 'lastname']]" [items]="this.notFriends"
                  [displayKeys]="['name', 'lastname']" [shouldHaveList]="true" [header]="'Add Friends'"
                  (onElementClickEvent)="addFriend($event)">
      </app-search>
    </div>

      <div class="col-sm-4" *ngIf="friends != null && friends != undefined && friends.length > 0">
        <app-search [criteriaKeys]="['name', 'lastname', ['name', 'lastname']]" [items]="this.friends"
                    [displayKeys]="['name', 'lastname']" [shouldHaveList]="true" [header]="'Remove Friends'"
                    (onElementClickEvent)="removeFriend($event)">
        </app-search>
      </div>

      <div class="col-sm-4" *ngIf="friendRequests != null && friendRequests != undefined && friendRequests.length > 0">
        <app-list (onElementClickEvent)="null" [header]="'Friend requests'" [items]="makeRequests()"
                  [type]="'Request list'" (declineClickEvent)="decline($event)" (acceptClickEvent)="accept($event)"></app-list>
      </div>
  </div>

  <br/> <br/>
</div>
