<div class="row">
  <div class="col-xs-24">
        <a class="btn btn-primary" (click) = "selected=undefined" data-toggle="modal" data-target="#editTheatre"> Add theatre </a>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12">
      <a class = "list-group-item clearfix" 
      *ngFor = "let theatre of theatres; let i = index">
     
        <div class = "pull-left">
            <h2 class = "list-group-item-heading letter"> <a routerLink= "/auditorium/theatre/{i}}/play"><b>{{ theatre.name | uppercase }} </b></a></h2>
                <div *ngIf = "detailTheatre !== i">
                    <a class = "detail" (click)="onDetail(i)"  >Detaljnije</a>
                </div>
                <div *ngIf = "detailTheatre === i">
                    <a class = "detail" (click)="offDetail()"  >Vrati</a>
                </div>

                <div *ngIf = "detailTheatre === i" >
                <p class = "list-group-item-text"><i> {{ theatre.address }} </i></p>
                <p class = "list-group-item-text desc"> {{ theatre.description }}</p>
                <button class="btn btn-success" (click) = "selected=cinema" data-toggle="modal" data-target="#editTheatre"> Edit theatre </button>
                <button class="btn btn-danger"> Delete theatre </button>
            </div> 
        </div>
      <span class="pull-right">
          <img 
          src="{{ theatre.poster }}" 
          alt="{{ theatre.name}}" 
          class="img-responsive" 
          style = "max-height : 120px">
      </span>
    </a> 
  </div>
</div>





<div id="editTheatre" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <app-add-theatre [theatre] = "selected" ></app-add-theatre>
            </div>
          </div>
        </div>
    </div>







