<h4>To approve</h4>
<hr/>
<div class="alert alert-info alert-dismissable" *ngIf="message">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {{message}}
</div>
<div class="alert alert-info alert-dismissable" *ngIf="error">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {{error}}
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <th>#</th>
      <th>Name</th>
      <th>Date created</th>
      <th>Expiration date</th>
      <th>Posted by</th>
      <th>&nbsp;</th>
    </thead>
    <tbody>
    <ng-container *ngFor="let ad of ads; let i = index;">
      <tr data-toggle="collapse" [attr.data-target]="'#' + ad.id">
        <td>{{ad.id}}</td>
        <td>{{ad.name}}</td>
        <td>{{ad.dateCreated}}</td>
        <td>{{ad.expirationDate}}</td>
        <td>{{ad.postedBy.username}}</td>
        <td><button class="btn btn-success" (click)="approve(ad, i)">Approve</button></td>
        <td><button class="btn btn-danger" (click)="disapprove(ad, i)">Disapprove</button></td>
      </tr>
      <div class="collapse">
        <div class="well" [attr.id]="ad.id">
          {{ad.description}}
        </div>
      </div>
    </ng-container>
    </tbody>
  </table>
</div>
