<div class="row">

  <h1 align="center">Welcome to friends page</h1>

  <br/>

  <div class="alert alert-danger" align="center" *ngIf="errormsg != null && errormsg != undefined && errormsg.length > 0">
    <strong>{{this.errormsg}}</strong>
  </div>

  <div class="row">
    <div class="col-sm-4">

      <div class="row">
        <div class="row Buttons" align="center">
          <div class="col-sm-6">
            <button class="btn btn-primary" (click)="sortByName(notFriends)">Sort by Name</button>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-primary" (click)="sortByLastName(notFriends)">Sort by Last Name</button>
          </div>
        </div>
      </div>

      <app-search [criteriaKeys]="['name', 'lastname', ['name', 'lastname']]" [items]="notFriends"
                  [displayKeys]="['name', 'lastname']" [shouldHaveList]="true" [header]="'Add Friends'"
                  (onElementClickEvent)="addFriend($event)">
      </app-search>
    </div>

    <div class="col-sm-4">

      <div class="row">
        <div class="row Buttons" align="center">
          <div class="col-sm-6">
            <button class="btn btn-primary" (click)="sortByName(friends)" [disabled]="mode === 'edit'">Sort by Name</button>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-primary" (click)="sortByLastName(friends)" [disabled]="mode === 'view'">Sort by Last Name</button>
          </div>
        </div>
      </div>

      <app-search [criteriaKeys]="['name', 'lastname', ['name', 'lastname']]" [items]="friends"
                  [displayKeys]="['name', 'lastname']" [shouldHaveList]="true" [header]="'Remove Friends'"
                  (onElementClickEvent)="removeFriend($event)">
      </app-search>
    </div>

    <div class="col-sm-4">
      <br/>
      <br/>
      <app-list (onElementClickEvent)="null" [header]="'Friend requests'" [items]="makeRequests()"
                [type]="'Request list'"></app-list>
    </div>
  </div>

  <br/>
  <br/>
  <br/>
</div>
