<div class="row Wrapper" align="center">
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" (click)="changeActive($event)"  [ngClass] = "{'Active':this.activeTab === '1'}">
      <a routerLink="/home" id="1" >Home</a></li>
    <li role="presentation" (click)="changeActive($event)"  [ngClass] = "{'active':activeTab === '2'}">
      <a routerLink="/theatre" id="2">Theatre</a></li>
    <li role="presentation" (click)="changeActive($event)"  [ngClass] = "{'active':activeTab === '3'}">
      <a routerLink="/cinema" id="3">Cinema</a></li>
    <li role="presentation" (click)="changeActive($event)"  [ngClass] = "{'active':activeTab === '4'}">
      <a routerLink="/friends" id="4">Friends</a></li>
    <li role="presentation" (click)="changeActive($event)"  [ngClass] = "{'active':activeTab === '5'}">
      <a routerLink="/reservations" id="5">Reservations</a></li>
    <li role="presentation" (click)="changeActive($event)" [ngClass] = "{'active':activeTab === '6'}">
      <a routerLink="/profile" id="6">Profile</a></li>
    <li role="presentation" (click)="changeActive($event)" [ngClass] = "{'active':activeTab === '7'}">
      <a routerLink="/fanzone" id="7">Fan zone</a></li>
  </ul>
</div>
