<hr>
<p> Svi filmovi u ovom bioskopu: </p>
<div class="row">
  <div class="col-xs-12">
    <a class="list-group-item clearfix" *ngFor="let movie of movies; let i = index">
      <div class="pull-left">
        <h2 class="list-group-item-heading letter">
          <a routerLink="movie/{{movie?.id}}">
            <b>{{ movie.name | uppercase }} </b>
          </a>
        </h2>
        <div *ngIf="detailMovie !== i">
          <a class="detail" (click)="onDetail(i)">Detaljnije</a>
        </div>
        <div *ngIf="detailMovie === i">
          <a class="detail" (click)="offDetail()">Vrati</a>
        </div>
        <div *ngIf="detailMovie === i">
         <p class="list-group-item-text">
            <span class="style"> Description:</span> {{ movie.description }}</p>
          <p class="list-group-item-text">
            <span class="style">Duration:</span> {{ movie.durationMinutes }}</p>
          <p class="list-group-item-text">
            <span class="style"> Ratings:</span> {{ movie.ratings }}</p>
          <button class="btn btn-success" (click)="selected = movie; fillFields(movie)" data-toggle="modal" data-target="#editMovie"> Edit movie </button>
          <button class="btn btn-danger " (click)="selected=movie ">
            <a (click)="deleteMovie(movie.id)"> Delete movie </a>
          </button>
        </div>
      </div>
      <span class="pull-right">
        <img src="{{movie.coverPath}}" class="img-responsive" style="max-height : 120px">
      </span>
    </a>
  </div>
</div>







<!--MODALNI ZA IZMENU -->
<div id="editMovie" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content">
      <div class="modal-body ">
        <form class="form-horizontal" #editForm="ngForm" (ngSubmit)="editMovie()">

          <div class="form-group">
            <label for="name" class="col-sm-2 control-label"> Name: </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name">
            </div>
          </div>

          <!-- DESCRIPTION -->
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label"> Description: </label>
            <div class="col-sm-8">
              <textarea class="form-control description" id="description" name="description" [(ngModel)]="description"></textarea>
            </div>
          </div>

          <!-- DURATION -->
          <div class="form-group">
            <label for="duration" class="col-sm-2 control-label"> Duration: </label>
            <div class="col-sm-8">
              <input type="number" class="form-control " id="duration" name="duration" [(ngModel)]="duration">
            </div>
          </div>

          <!-- POSTER -->
          <div class="form-group">
            <label for="poster" class="col-sm-2 control-label"> Poster: </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="poster" name="poster" [(ngModel)]="poster">
            </div>
          </div>


          <div>

            <button *ngIf="allowP" type="button" class="btn btn-success" (click)="allowPreview1()">Preview </button>
            <button *ngIf="!allowP" type="button" class="btn btn-success" (click)="allowPreview2()"> OK </button>

            <hr *ngIf="!allowP">
            <div class="row col-xs-12" *ngIf="!allowP">

              <div class="col-xs-8">
                <a class="list-group-item clearfix">
                  <div class="pull-left">
                    <h2 class="list-group-item-heading letter">
                      <b>{{ name | uppercase }} </b>
                    </h2>
                    <div *ngIf="detailMovie !== i">
                      <a class="detail" (click)="onDetail(i)">Detaljnije</a>
                    </div>
                    <div *ngIf="detailMovie === i">
                      <a class="detail" (click)="offDetail()">Vrati</a>
                    </div>
                    <div *ngIf="detailMovie === i">

                       <p class="list-group-item-text"> Description :
                         {{ description }} 
                      </p>
                     
                      <p class="list-group-item-text"> Duration: {{ duration }}</p>
                    

                    </div>
                  </div>
                  <span class="pull-right">
                    <img src="{{ poster }}" class="img-responsive" style="max-height : 120px">
                  </span>
                  <hr>
                </a>
              </div>
            </div>
            <hr>
          </div>

          <hr>


          <input type="submit" class="btn btn-primary" value="Edit movie" />

     
      </form>