<hr>
<p> Svi filmovi u ovom pozoristu: </p>
<div class="row">
  <div class="col-xs-12">
    <a class="list-group-item clearfix" 
    *ngFor="let movie of movies; let i = index">
      <div class="pull-left">
        <h2 class="list-group-item-heading letter">
          <a routerLink="movie/{{movie?.id}}">
            <b>{{ movie.name | uppercase }} </b>
          </a>
        </h2>
        <div *ngIf="detailMovie !== i">
          <a class="detail" (click)="onDetail(i)">Detaljnije</a>
        </div>
        <div *ngIf="detailMovie === i">
          <a class="detail" (click)="offDetail()">Vrati</a>
        </div>
        <div *ngIf="detailMovie === i">
     
          <p class="list-group-item-text desc"><span class = "style" > Description:</span> {{ movie.description }}</p>
          <p class="list-group-item-text"><span class = "style" >Duration:</span> {{ movie.durationMinutes }}</p>
          <p class="list-group-item-text"><span class = "style" > Ratings:</span> {{ movie.ratings }}</p>
          <button class="btn btn-success" (click)="selected=movie" data-toggle="modal" data-target="#editMovie"> Edit movie </button>
          <button class="btn btn-danger"> Delete movie </button>
        </div>
      </div>
      <span class="pull-right">
        <img src="{{movie.coverPath}}" class="img-responsive" style="max-height : 120px">
      </span>
    </a>
  </div>
</div>